{% extends "base.html" %}

{% block title %}Bejegyzés{% endblock %}
{% block head %}
{% endblock %}
{% block heading %}Bejegyzés{% endblock %}
{% block main %}

<div class="post">
    <h5 class="mb-1">{{ post.date }}</h5>

    <div class="d-flex" style="font-size: 0.95rem">
        {% if is_athlete() %}
            <a href="{{ url_for('posts.edit', post_id=post.id, redirect=request.full_path) }}" class="btn btn-dark me-1"><i class="fas fa-edit"></i> Szerkesztés</a>
            <form action="{{ url_for('posts.delete', post_id=post.id) }}" method="post"
                  onsubmit='return confirm("Biztosan törlöd? ({{ post.date }})")'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary-dark"><i class="fas fa-trash"></i> Törlés</button>
            </form>
        {% endif %}
    </div>

    {% if post.feel or post.difficulty %}
        <div class="d-flex mt-3 flex-column flex-sm-row">
            {% if post.difficulty %}
                <div class="me-2 mb-2 mb-sm-0">
                    <span class="badge badge-custom">Nehézség: {{ post.difficulty }}/10 {{ post.difficulty_str }}</span>
                </div>
            {% endif %}

            {% if post.feel %}
                <div>
                    <span class="badge badge-custom">Érzés: {{ post.feel }}/5 {{ post.feel_emoji }}</span>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <hr class="mb-3">
    <div class="text-break lh-base" style="font-size: 1.1em; letter-spacing: 1px"> {{ post.content | safe}} </div>

    {% if post.activities %}
        <hr class="mt-3">
        {% for activity in post.activities %}
            <div class="activity">
                <div class="d-flex align-items-center">
                    <div class="index-badge">{{ loop.index }}</div>
                    <h6 class="pt-1">{{ activity.name }}</h6>
                    <a href="{{ activity.url }}" target="_blank" class="btn btn-dark p-0 mx-2 mt-0 py-1 px-1"><i class="fas fa-external-link-alt"></i> Garmin link</a>
                </div>
                {% if activity.description %}
                    <p class="text-break mt-1">{{ activity.description | safe}}</p>
                {% endif %}
                {% if activity.distance %}
                    <p><b>{{ activity.distance }} km</b></p>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
