{% extends "base.html" %}

{% block title %}Programnyelvek{% endblock %}

{% block heading %}
    {% with heading_content="Programnyelvek" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <div class="mb-3">
        <a href="{{ url_for('pages.home') }}" class="btn btn-dark me-1"><i class="fa-solid fa-arrow-left"></i> Vissza a főoldalra</a>
        <a href="{{ url_for('languages.create') }}" class="btn btn-primary-dark"><i class="fa-solid fa-plus-circle"></i> Programnyelv hozzáadása</a>
    </div>
    {% for language in languages %}
        <div class="post">
            <h5>{{ language.name }}</h5>
            <div class="d-flex align-items-center flex-wrap">
                <a href="{{ url_for('languages.edit', language_id=language.id) }}" class="btn btn-dark me-2"><i class="fa-solid fa-pen-to-square"></i> Szerkesztés</a>
                <form action="{{ url_for("languages.delete", language_id=language.id) }}" method="post" onsubmit="return confirm('Biztosan törli a programnyelvet? ({{ language.name }})')">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Törlés</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}