{% extends "base.html" %}

{% block title %}Csapat regisztráció{% endblock %}

{% block heading %}
    {% with heading_content="Csapat regisztráció" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <form method="post" class="form">
        {{ form.csrf_token() }}

        {% if create %}
            {% include "base_register.html" %}

            <div class="form-group">
                {{ form.team_name.label }}
                {{ form.team_name(class="form-control", hx_post=url_for('teams.validate_name'), hx_trigger="input", hx_target="#response") }}
            </div>
            <div id="response" class="mb-1"></div>
        {% endif %}

        <div class="form-group mb-1">
            {{ form.name1.label }}
            {{ form.name1(class="form-control") }}
        </div>
        <div class="form-group mb-1">
            {{ form.year1.label }}
            {{ form.year1(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.name2.label }}
            {{ form.name2(class="form-control") }}
        </div>
        <div class="form-group mb-1">
            {{ form.year2.label }}
            {{ form.year2(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.name3.label }}
            {{ form.name3(class="form-control") }}
        </div>
        <div class="form-group mb-1">
            {{ form.year3.label }}
            {{ form.year3(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.year_extra.label }}
            {{ form.year_extra(class="form-control") }}
        </div>
        <div class="form-group mb-1">
            {{ form.year_extra.label }}
            {{ form.year_extra(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.teachers.label }}
            {{ form.teachers(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.language_id.label }}
            {{ form.language_id(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.school_id.label }}
            {{ form.school_id(class="form-control") }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark" id="submit"><i class="fa-solid fa-floppy-disk"></i> Mentés</button>
        </div>
    </form>
{% endblock %}



