{% extends "base.html" %}

{% block title %}Csapatok{% endblock %}

{% block heading %}
    {% with heading_content="Csapatok" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <div id="searchTeamsFormDiv">
        <form id="searchTeamsForm" method="get">
            <div class="form-group mb-3">
                <label for="search">Keresendő szöveg</label>
                <input type="text" name="search" id="search" class="form-control">
            </div>
            <div class="form-group">
                <label for="ascending" class="checkbox-label">Növekvő sorrend?</label>
                <input type="checkbox" name="ascending" id="ascending" onchange="document.getElementById('searchTeamsForm').submit();">
            </div>
            <div class="form-group">
                <label for="year" class="checkbox-label">Osztály</label>
                <input type="number" min="9" max="13" name="year" id="year" onchange="document.getElementById('searchTeamsForm').submit();">
            </div>
            <div class="form-group">
                <label for="laungage" class="checkbox-label">Programnyelv</label>
                <input type="" name="laungage" id="laungage" onchange="document.getElementById('searchTeamsForm').submit();">
            </div>
            <div class="d-flex align-items-center mb-3">
                <button type="submit" class="btn btn-primary-dark me-2"><i class="fa-solid fa-search"></i> Keresés</button>
                <a href="{{ url_for('teams.list_all') }}" class="btn btn-dark me-2">
                    <i class="fa-solid fa-rotate-left"></i> Visszaállítás</a>
            </div>
        </form>
    </div>
    <div id="content">
        {% for team in teams %}
            {% include "teams/team.html" %}
        {% endfor %}
    </div>
{% endblock %}