<div class="post">
    <h4>{{ team.team_name }}</h4>
    <hr>
    <h5>Első csapattag</h5>
    <p>Neve: {{ team.name1 }}, évfolyama: {{ team.year1 }}</p>
    <h5>Második csapattag</h5>
    <p>Neve: {{ team.name2 }}, évfolyama: {{ team.year2 }}</p>
    <h5>Harmadik csapattag</h5>
    <p>Neve: {{ team.name3 }}, évfolyama: {{ team.year3 }}</p>
    {% if team.name_extra or team.year_extra %}
        <h5>Póttag</h5>
        <p>Neve: {{ team.name_extra }}, évfolyama: {{ team.year_extra }}</p>
    {% endif %}
    <h5>Felkészítő tanár(ok)</h5>

    <p>{{ team.teachers }}</p>

        <h5>Iskola</h5>
        {% if not team.school %}
            Nincs
        {% else %}
            <p>Neve: {{ team.school.school_name }}, címe: {{ team.school.address }}</p>
        {% endif %}

        <h5>Nyelv</h5>
        <p>{{ team.language.language_name or "Nincs" }}</p>

        <h5>Kategória</h5>
        <p>{{ team.category.category_name or "Nincs" }}</p>

    <form method="post">
        <input type="hidden" value="{{ team.id }}" name="team_id">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if (g.user.is_admin and team.school_approved) or (g.user.role == "school" and g.user.school.application_form and not team.admin_approved) %}
            <button type="submit" class="btn btn-primary-dark">
                {% if g.user.is_admin and team.school_approved %}
                    {% if team.admin_approved %}Jóváhagyás visszavonása{% else %}Jóváhagyás{% endif %}
                {% elif g.user.role == "school" and g.user.school.application_form and not team.admin_approved %}
                    {% if team.school_approved %}Jóváhagyás visszavonása{% else %}Jóváhagyás{% endif %}
                {% endif %}
            </button>
        {% endif %}
    </form>

    {% if g.user.is_admin  %}
        <form method="post" action="{{ url_for("teams.incomplete", team_id=team.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            {% if team.declared_incomplete %}
                <button type="submit" class="btn btn-danger">
                    Hiánypótlás kérés visszavonása
                </button>
            {% else %}
                <button type="submit" class="btn btn-success">
                    Hiánypótlás kérése
                </button>
            {% endif %}
        </form>
    {% endif %}
</div>