<div class="post">
    <h4>{{ team.team_name }}</h4>
    <hr>
    <h5>Első csapattag</h5>
    <p>Neve: {{ team.name1 }}, évfolyama: {{ team.year1 }}</p>
    <h5>Második csapattag</h5>
    <p>Neve: {{ team.name2 }}, évfolyama: {{ team.year2 }}</p>
    <h5>Harmadik csapattag</h5>
    <p>Neve: {{ team.name3 }}, évfolyama: {{ team.year3 }}</p>
    {% if team.name_extra or team.year_extra %}
        <h5>Póttag</h5>
        <p>Neve: {{ team.name_extra }}, évfolyama: {{ team.year_extra }}</p>
    {% endif %}
    <h5>Felkészítő tanár(ok)</h5>

    <p>{{ team.teachers }}</p>

    {% if team.school_id %}
        <h5>Iskola</h5>
        <p>Neve: {{ team.school.school_name }}, címe: {{ team.school.address }}</p>
    {% endif %}

    {% if team.language_id %}
        <h5>Nyelv</h5>
        <p>{{ team.language.language_name }}</p>
    {% endif %}

    {% if team.category_id %}
        <h5>Kategória</h5>
        <p>{{ team.category.category_name }}</p>
    {% endif %}

    <form method="post">
        <input type="hidden" value="{{ team.id }}" name="team_id">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-primary-dark">
            {% if g.user.is_admin and team.school_approved %}
                {% if team.admin_approved %}Jóváhagyás{% else %}Jóváhagyás visszavonása{% endif %}
            {% elif g.user.role == "school" and not team.admin_approved %}
                {% if team.admin_approved %}Jováhagyás{% else %}Jóváhagyás visszavonása{% endif %}
            {% endif %}
        </button>
    </form>
</div>