<div class="post">
    <h3 class="text-center">{{ team.team_name }}</h3>
    <hr>
        {% if team.declared_incomplete %}<div style="font-size: 1.1rem" class="text-danger ms-1 mb-2">Hiánypótlás szükséges!</div>{% endif %}

    <div class="info-container p-2 mb-3">
        <div class="team-section">
            Első csapattag:
        </div>
        <div style="font-size: 1.1rem">{{ team.name1 }} <span style="font-size: 0.9em" class="badge badge-custom ms-1">{{ team.year1 }}. évfolyam</span></div>
    </div>

    <div class="info-container p-2 mb-3">

        <div class="team-section">
            Második csapattag:
        </div>
        <div style="font-size: 1.1rem">{{ team.name2 }} <span style="font-size: 0.9em" class="badge badge-custom ms-1">{{ team.year2 }}. évfolyam</span></div>
    </div>

    <div class="info-container p-2 mb-3">

        <div class="team-section">
            Harmadik csapattag:
        </div>
        <div style="font-size: 1.1rem">{{ team.name3 }} <span style="font-size: 0.9em" class="badge badge-custom ms-1">{{ team.year3 }}. évfolyam</span></div>
    </div>

    {% if team.name_extra or team.year_extra %}
        <div class="info-container p-2 mb-3">
            <div class="team-section">
                Póttag:
            </div>
            <div style="font-size: 1.1rem">{{ team.name_extra }} <span style="font-size: 0.9em" class="badge badge-custom ms-1">{{ team.year_extra }}. évfolyam</span></div>
        </div>
    {% endif %}


    <div class="info-container p-2 mb-3">
        <div class="team-section">
            Felkészítő tanár(ok):
        </div>
        <div style="font-size: 1.1rem">{{ team.teachers }}</div>
    </div>

    <div class="info-container p-2 mb-3">
        <div class="team-section">
            Iskola:
        </div>
        <div style="font-size: 1.1rem">
            {% if not team.school %}
                Még nincs megadva
            {% else %}
                <div>{{ team.school.school_name }} <span class="badge badge-custom ms-1">{{ team.school.address }}</span></div>
            {% endif %}
        </div>
    </div>

    <div class="info-container p-2 mb-3">
        <div class="team-section">
            Programnyelv:
        </div>
        <div style="font-size: 1.1rem">{{ team.language.name or "Még nincs megadva" }}</div>
    </div>

    <div class="info-container p-2 mb-3">
        <div class="team-section">
            Kategória:
        </div>
        <div style="font-size: 1.1rem">{{ team.category.name or "Még nincs megadva" }}</div>
    </div>

    <form method="post">
        <input type="hidden" value="{{ team.id }}" name="team_id">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if (is_admin() and team.school_approved) or (g.user.role == "school" and g.user.school.application_form and not team.admin_approved) %}
            <button type="submit" class="btn btn-primary-dark" {% if team.declared_incomplete %}disabled{% endif %}>
                {% if g.user.is_admin and team.school_approved %}
                    {% if team.admin_approved %}<i class="fa-solid fa-x"></i> Jóváhagyás visszavonása{% else %}<i class="fa-solid fa-check"></i> Jóváhagyás{% endif %}
                {% elif g.user.role == "school" and g.user.school.application_form and not team.admin_approved %}
                    {% if team.school_approved %}<i class="fa-solid fa-x"></i> Jóváhagyás visszavonása{% else %}<i class="fa-solid fa-check"></i> Jóváhagyás{% endif %}
                {% endif %}
            </button>
        {% endif %}
    </form>

    {% if is_admin()  %}
        <form method="post" action="{{ url_for("teams.incomplete", team_id=team.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            {% if team.declared_incomplete %}
                <button type="submit" class="btn btn-danger">
                    Hiánypótlás kérés visszavonása
                </button>
            {% else %}
                <button type="submit" class="btn btn-success">
                    Hiánypótlás kérése
                </button>
            {% endif %}
            <br>
            <a href="{{ url_for("messages.send", team_id=team.id) }}" class="btn btn-secondary"><i class="fa-solid fa-envelope"></i> Üzenet küldése</a>
        </form>
    {% endif %}

    {% if is_admin() or team.id == g.user.team.id %}
        <a class="btn btn-warning" href="{{ url_for("teams.edit", team_id=team.id) }}"><i class="fa-solid fa-pen-to-square"></i> Szerkesztés</a>

        {% if is_admin() %}
            <form method="post" action="{{ url_for("users.delete", user_id=team.user.id) }}" onsubmit="return confirm('Biztosan törli? ({{ team.team_name }})') ">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Törlés</button>
            </form>
        {% endif %}
    {% endif %}

</div>