{% extends "base.html" %}
{% block title %}A készítőkről{% endblock %}

{% block heading %}
    {% with heading_content="A készítőkről" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <div class="post my-5">
        <h4>Szabó Bernát</h4>
        <p>Szabó Bernát vagyok, a Bolyai Technikum tanulója. A tanulás mellett a szabadidőmet a pihenés tölti ki.  Ugyanakkor, ha az időjárás engedi szeretek a szabadban lenni, biciklizni, kirándulni, és télen síelni is. Heti többször járok úszni, de a terveim közt szerepel még több úszóedzés beiktatása.</p>
    </div>
    <div class="post mb-5">
        <h4>Zemen Dániel</h4>
        <p>
            Zemen Dániel vagyok, a Bolyai Technikum tanulója. A IT tudásom gyarapításán kívül az időm nagyrészét kajakozással
            töltöm. Háromszoros ifjúsági Európa-bajnoknak és ifjusági világbajnoki ezüstérmesnek mondhatom magam.
            Szoktak csodálkozni az emberek, mert a kajak és a programozás nem egy mindennapi párosítás, de én nagyon
            szeretem mind a kettőt.
        </p>
        <img src="{{ url_for('static', filename='img/about/dani1.jpg') }}" alt="Kajakozás" class="styled-image img-fluid">
        </div>
    <div class="post mb-5">
        <h4>Czirják Ádám</h4>
        <p>Czirják Ádám vagyok, szintén a Bolyai János Műszaki Technikum tanulója.  Az informatikai látóköröm szélesítése többnyire sok szabad időmet kitölti, de sok időt szentelek még a nyelvtanulásnak is főként a németnek az angol mellett természetesen. A maradék szabadidőmben futni szoktam korábban versenyszerűen terepfutottam is, illetve biciklizem is, legnagyobb mérföldkő a Budapest-Balaton táv teljesítése volt.</p>
    </div>
{% endblock %}
