{% extends "base.html" %}

{% block title %}Weboldal beállításai{% endblock %}

{% block heading %}
    {% with heading_content="Weboldal beállításai" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <h5 class="gray-text"><u>Szervezet neve</u></h5>
    <form method="post">
        {{ org_form.csrf_token(id=False) }}

        <div class="form-group">
            {{ org_form.name.label }}
            {{ org_form.name(class="form-control two-line-input") }}
        </div>

        <div class="form-group mb-4">
            <button type="submit" class="btn btn-dark"><i class="fa-solid fa-floppy-disk"></i> Mentés</button>
        </div>
    </form>
    <hr>
    <h5 class="gray-text"><u>Üdvözlő szöveg beállítása</u></h5>
    <form method="post" class="mb-4">
        {{ welcome_form.csrf_token(id=False) }}
        {{ welcome_form.text.label }}
        <div class="form-group">
            {{ welcome_form.text() }}
        </div>
        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-floppy-disk"></i> Mentés</button>
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='text') }}

{% endblock %}

{% block after_scripts %}
{% endblock %}