{% extends "base.html" %}

{% block title %}Kategóriák{% endblock %}

{% block heading %}
    {% with heading_content="Kategóriák" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <div class="mb-2">
        <a href="{{ url_for('pages.home') }}" class="btn btn-dark me-1"><i class="fa-solid fa-arrow-left"></i> Vissza a főoldalra</a>
        <a href="{{ url_for('categories.create') }}" class="btn btn-primary-dark"><i class="fa-solid fa-plus-circle"></i> Kategória hozzáadása</a>
    </div>

    {% for category in categories %}

        <div class="post ">
            <h5>{{ category.name }}</h5>
            <div class="d-flex align-items-center flex-wrap">
                <a href="{{ url_for('categories.edit', category_id=category.id) }}" class="btn btn-dark me-2"><i class="fa-solid fa-pen-to-square"></i> Szerkesztés</a>
                <form action="{{ url_for("categories.delete", category_id=category.id) }}" method="post" onsubmit="return confirm('Biztosan törli a kategóriát? ({{ category.name }})')">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Törlés</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}