
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">
    {% if g.user %}
        <div class="dropdown">
            <a class="navbar-brand dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i> <strong class="ms-1">{{ g.user.name }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="userDropdown">
                <li class="mb-1 ms-3 gray-text">
                    <div><i class="fa-solid fa-id-badge me-1"></i> {{ g.user.role_hun }}</div>
                </li>
                <li class="mb-1">
                    <a href="{{ url_for('pages.settings') }}" class="dropdown-item text-light bg-transparent border-0"><i class="fa-solid fa-user-gear me-1"></i> Felhasználói beállítások</a>
                </li>
                <li>
                    <form class="d-flex me-3" action="{{ url_for('security.logout') }}" method="post" id="logoutForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="dropdown-item text-light bg-transparent border-0"><strong><i class="fa-solid fa-sign-out-alt me-1"></i> Kijelentkezés</strong></button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link {% if request.endpoint == 'pages.home' %}active{% endif %}" href="{{ url_for("pages.home") }}"><i class="fa-solid fa-house"></i> Főoldal</a>
            </li>

            {% if not g.user %}
                <li class="nav-item active">
                    <a class="nav-link {% if request.endpoint == 'security.login' %}active{% endif %}" href="{{ url_for("security.login") }}"><i class="fa-solid fa-right-to-bracket"></i> Bejelentkezés</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link {% if request.endpoint == 'teams.create' %}active{% endif %}" href="{{ url_for("teams.create") }}"><i class="fa-solid fa-person-circle-plus"></i> Csapat regisztrációja</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link {% if request.endpoint == 'pages.about' %}active{% endif %}" href="{{ url_for("pages.about") }}"><i class="fa-solid fa-circle-info"></i> A készítők</a>
                </li>

            {% endif %}



        {% if g.user %}

            {% if g.user.role in ["admin", "super_admin", "team"] %}
                <li class="nav-item">
                      <a class="nav-link {% if request.endpoint == 'messages.list_all' %}active{% endif %}" href="{{ url_for("messages.list_all") }}"><i class="fa-solid fa-envelope {% if has_unread() %}text-danger{% endif %}"></i> Üzenetek</a>
                </li>
            {% endif %}

            {% if g.user.role == "school" %}
               <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'schools.view' %}active{% endif %}" href="{{ url_for("schools.view") }}"><i class="fa-solid fa-school"></i> Iskolám</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'teams.list_all' %}active{% endif %}" href="{{ url_for("teams.list_all") }}"><i class="fa-solid fa-user-group"></i> Csapataim</a>
                </li>
            {% endif %}

            {% if g.user.role == "team" %}
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'teams.view' %}active{% endif %}" href="{{ url_for("teams.view") }}"><i class="fa-solid fa-people-group"></i> Saját csapatom</a>
                </li>
            {% endif %}

            {% if is_admin() %}
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'users.list_all' %}active{% endif %}" href="{{ url_for("users.list_all") }}"><i class="fas fa-users"></i> Felhasználók</a>
                </li>

{#                <li class="nav-item">#}
{#                    <a class="nav-link {% if request.endpoint == 'stats.list_all' %}active{% endif %}" href="{{ url_for("stats.list_all") }}"><i class="fa-solid fa-chart-simple"></i> Statisztikák</a>#}
{#                </li>#}

                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'pages.site_settings' %}active{% endif %}" href="{{ url_for("pages.site_settings") }}"><i class="fas fa-gear"></i> Weboldal beállításai</a>
                </li>

        {% endif %}

        {% endif %}

        </ul>
    </div>
</div>
</nav>