{% extends "base.html" %}

{% block title %}Üzenetek{% endblock %}

{% block heading %}
    {% with heading_content="Üzenetek" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    {% for message in messages %}
        <div class="post">
            <h5>Tárgy: {{ message.subject }}</h5>
            <div class="small-text gray-text">Feladó: {{ message.sender_name }}</div>
            <hr>
            <p>{{ message.content | safe_escape }}</p>
        </div>
    {% endfor %}
{% endblock %}