{% extends "base.html" %}

{% block title %}Üzenetek{% endblock %}

{% block heading %}
    {% with heading_content="Üzenetek" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <form id="messagesSchoolsForm" method="get">
            <div class="form-group mb-1">
                <label for="search">Keresés</label>
                <input type="text" name="search" id="search" class="form-control">
            </div>

            <div class="d-flex align-items-center mb-1">
                <button type="submit" class="btn btn-primary-dark me-2"><i class="fa-solid fa-search"></i> Keresés</button>
                <a href="{{ url_for('messages.list_all') }}" class="btn btn-dark me-2">
                    <i class="fa-solid fa-rotate-left"></i> Visszaállítás</a>
            </div>
    </form>
    {% for message in messages %}
        {% if is_admin() or message.team_id == g.user.team.id %}
            <div class="post">
                <h5>Tárgy: {{ message.subject }}</h5>
                <div class="small-text gray-text">Feladó: {{ message.sender_name }}</div>
                <hr>
                <p>{{ message.content | safe_escape }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}