{% extends "base.html" %}
{% block title %}Felhasználók{% endblock %}

{% block head %}
{% endblock %}

{% block before_main %}
    <button type="button" class="btn btn-dark btn-floating btn-lg" id="scrollToTopButton" onclick="backToTop()">
      <i class="fas fa-arrow-up"></i>
    </button>
{% endblock %}

{% block heading %}
    {% with heading_content="Felhasználók" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}

    <div class="mb-2">
        <a href="{{ url_for("pages.home") }}" class="btn btn-dark me-1"><i class="fa-solid fa-arrow-left"></i> Vissza a főoldalra</a>
        <a href="{{ url_for("pages.create_admin") }}" class="btn btn-primary-dark"><i class="fa-solid fa-circle-plus"></i> Szervező hozzáadása</a>
    </div>

{% for user in users %}
    {% if not (user.is_super_admin or user.id == g.user.id) %}
        <div class="user p-3 mb-3">
            <div style="font-size: 1.25rem" class="user-name">{{ user.name }} <span class="ms-1 badge badge-custom">{{ user.role_hun }}</span></div>
            <form action="{{ url_for('users.delete', user_id=user.id) }}" method="post"
                  onsubmit='return confirm("Biztosan törli? ({{ user.name }})")'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                     <button id="torles"  type="submit" class=" btn btn-danger">
                        <i class="fas fa-trash"></i> Törlés
                    </button>
            </form>

        </div>
    {% endif %}
{% endfor %}
{% endblock %}

