{% extends "base.html" %}
{% block title %}Felhasználók{% endblock %}

{% block head %}
{% endblock %}

{% block before_main %}
    <button type="button" class="btn btn-dark btn-floating btn-lg" id="scrollToTopButton" onclick="backToTop()">
      <i class="fas fa-arrow-up"></i>
    </button>
{% endblock %}

{% block main %}

<a href="{{ url_for("pages.create_admin") }}" class="btn btn-dark mb-2"><i class="fa-solid fa-plus"></i> Szervező hozzáadása</a>

{% for user in users %}
    {% if not (user.is_super_admin or user.id == g.user.id) %}
        <div class="user p-4 my-3">
            <h5 class="user-name">{{ user.name }}</h5>
            <p>{{ user.role_hun }}</p>
            <form action="{{ url_for('users.delete', user_id=user.id) }}" method="post"
                  onsubmit='return confirm("Biztosan törli? ({{ user.name }})")'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                     <button id="torles"  type="submit" class=" btn btn-danger">
                        <i class="fas fa-trash"></i> Törlés
                    </button>
            </form>

        </div>
    {% endif %}
{% endfor %}
{% endblock %}

