{% extends "base.html" %}
{% block title %}Felhasználók{% endblock %}

{% block head %}
    <style>
        .user {
            background-color: #282828;;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }

        .user .user-name {
            font-size: 1.2rem;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .user .user-last-seen {
            font-size: 0.9rem;
            color: #a0aec0; /* Gray text for last seen */
        }
    </style>
{% endblock %}

{% block before_main %}
    <button type="button" class="btn btn-dark btn-floating btn-lg" id="scrollToTopButton" onclick="backToTop()">
      <i class="fas fa-arrow-up"></i>
    </button>
{% endblock %}

{% block main %}
<!-- <a href="{{ url_for('users.register') }}" class="btn btn-dark my-3"><i class="fa-solid fa-plus-circle"></i> Felhasználó hozzáadása</a><br> -->
{% for user in users %}
    {% if not (user.is_super_admin or user.id == g.user.id) %}
        <div class="user p-4 my-3">
            <h5 class="user-name">{{ user.name }}</h5>
            {% do role_form.set_role(user.role) %}
            {% do role_form.set_user_id(user.id) %}

            <form method="post">
                {{ role_form.csrf_token() }}
                {{ role_form.role(class="form-control") }}
                {{ role_form.user_id() }}
                <button type="submit" class="btn btn-primary-dark">
                    <i class="fa-solid fa-floppy-disk"></i> Mentés
                </button>
            </form>

            <form action="{{ url_for('users.delete', user_id=user.id) }}" method="post"
                  onsubmit='return confirm("Biztosan törlöd? ({{ user.name }})")' class="d-inline">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-secondary">
                    <i class="fas fa-trash"></i> Törlés
                </button>
            </form>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}

