{% extends "base.html" %}

{% block title %}Regisztráció{% endblock %}

{% block heading %}
    {% with heading_content="Regisztráció" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <form method="post" class="form">
        {% include "base_register.html" %}
        <div class="form-group">
            <button type="submit" class="btn btn-dark" id="submit"><i class="fa-solid fa-floppy-disk"></i> Regisztráció</button>
        </div>
    </form>
{% endblock %}
