{% extends "base.html" %}

{% block title %}Regisztráció{% endblock %}

{% block head %}
 <script>
    function validatePassword() {
        const password = document.getElementById('password').value;
        const passwordAgain = document.getElementById('password_again').value;
        const messageElement = document.getElementById('passwordMatchMessage');
        const submit = document.getElementById('submit');

        if (password === passwordAgain) {
            messageElement.textContent = "A jelszavak egyeznek.";
            messageElement.className = "text-success";
            submit.disabled = false;
        } else {
            messageElement.textContent = "A jelszavak nem egyeznek.";
            messageElement.className = "text-danger";
            submit.disabled = true;
        }
    }
    </script>
{% endblock %}

{% block heading %}<h2 class="text-center mb-3 pt-4">Regisztráció</h2>{% endblock %}

{% block main %}
    <form method="post" class="form">
        {{ form.csrf_token() }}

        <div class="form-group mb-1">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
         <div class="form-group mb-1">
                <label for="password">{{ form.password.label }}</label>
                <div class="input-group">
                    {{ form.password(class="form-control", id="password", onkeyup="validatePassword()") }}
                    <span class="show-password-btn ms-4 mt-1" style="font-size: 1.2em" onclick="togglePasswordVisibility('password', this); togglePasswordVisibility('password_again', this)">
                        <i class="fa fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <div class="form-group mb-1">
                <label for="password_again">{{ form.password_again.label }}</label>
                {{ form.password_again(class="form-control", id="password_again", onkeyup="validatePassword()") }}
            </div>
            <div class="match" id="passwordMatchMessage"></div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark" id="submit"><i class="fa-solid fa-floppy-disk"></i> Regisztráció</button>
        </div>
    </form>
{% endblock %}
