{% extends "base.html" %}

{% block title %}Iskola szerkesztése{% endblock %}

{% block heading %}
    {% with heading_content="Iskola szerkesztése" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    {% if is_admin() %}
        <a href="{{ url_for('schools.list_all') }}" class="btn btn-dark mb-2"><i class="fa-solid fa-arrow-left"></i> Vissza az iskolákhoz</a>
    {% elif %}
        <a href="{{ url_for("schools.view") }}" class="btn btn-dark mb-2"><i class="fa-solid fa-arrow-left"></i> Vissza az iskolákhoz</a>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <div class="form-group mb-1">
            {{ form.address.label }}
            {{ form.address(class="form-control") }}
        </div>
        <div class="form-group mb-1">
            {{ form.contact_name.label }}
            {{ form.contact_name(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.contact_email.label }}
            {{ form.contact_email(class="form-control") }}
        </div>

        {% if not is_admin() %}
            <div class="form-group mb-1">
                {{ form.application_form.label }}
                <br>
                {% if g.user.school.application_form %}
                    <a href="{{ url_for("schools.application_form", school_id=school.id) }}">Letöltés</a>
                {% endif %}
                {{ form.application_form(class="form-control") }}
            </div>
        {% endif %}

        <div class="form-group">
            <button type="submit" class="btn btn-dark" id="submit"><i class="fa-solid fa-floppy-disk"></i> Mentés</button>
        </div>
    </form>


{% endblock %}
