{% extends "base.html" %}

{% block title %}Iskola szerkesztése{% endblock %}

{% block heading %}
    {% with heading_content="Iskola szerkesztése" %}
        {% include "heading.html" %}
    {% endwith %}
{% endblock %}

{% block main %}
    <form method="post">
        {{ form.csrf_token() }}
        <div class="form-group mb-1">
            {{ form.address.label }}
            {{ form.address(class="form-control") }}
        </div>
        <div class="form-group mb-1">
            {{ form.contact_name.label }}
            {{ form.contact_name(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.contact_email.label }}
            {{ form.contact_email(class="form-control") }}
        </div>

        <div class="form-group mb-1">
            {{ form.application_form.label }}
            {{ form.application_form(class="form-control") }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark" id="submit"><i class="fa-solid fa-floppy-disk"></i> Mentés</button>
        </div>
    </form>


{% endblock %}
